.footer {
  width: 100%;
  display: flex;
  background-color: #3d3d3d;
  /* font-family: Finger Paint,cursive; */

  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.footer p {
  width: 100%;
  text-align: center;
  color: #39baf1;
  padding: 10px;
  margin: 0;
}
