.Navbar {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #3d3d3d;
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.Navbar .leftSide {
  flex: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 25px;
}

.Navbar .leftSide .links {
  max-height: 80px;
}

.Navbar .leftSide .links a {
  text-decoration: none;
  font-size: 15pt;
  color: #9ee1fe;
  margin-right: 25px;
}
.Navbar .leftSide #connect {
  display: inline;
  margin: 0px 20px;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  border: transparent;
  color: #9ee1fe;
}
.Navbar .leftSide button {
  display: none;
  margin-left: 20px;
}

.Navbar .leftSide button img {
  height: 20px;
  width: auto;
}

.Navbar .leftSide .links img {
  height: 40px;
  width: auto;
}

.Navbar .leftSide #hidden {
  display: flex;
}

.Navbar .rightSide {
  flex: 10%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
}
.Navbar .rightSide img {
  margin: 0px 0px 0px 30px;
  height: 50px;
  width: 60px;
}

.Navbar .leftSide .links a:hover {
  color: wheat;
}

.Navbar .leftSide .links button:hover {
  color: wheat;
}

@media (max-width: 1092px) {
  .Navbar .leftSide button {
    display: flex;
  }
  .Navbar .leftSide .links {
    display: none;
  }
  .Navbar .leftSide #hidden {
    position: absolute;
    left: 0;
    top: 80px;
    height: auto;
    max-height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(7, 6, 43);
    border-radius: 30px;
  }

  .Navbar .leftSide #hidden a {
    margin: 5px;
    font-size: 15pt;
    color: #9ee1fe;
  }
  .Navbar .leftSide #hidden a:hover {
    color: wheat;
  }
  .Navbar .leftSide #hidden button:hover {
    color: wheat;
  }
}

@media (max-width: 892px) {
  .Navbar .leftSide {
    flex: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 50px;
  }
}
