.container-fluid,
.container {
  /* font-family: Finger Paint,cursive; */
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1 {
  margin: 1em;
}
p {
  font-size: 20pt;
  padding: 1em;
  text-align: justify;
}
.bodylogo {
  height: 60px;
  width: auto;
}
.logo {
  height: 160px;
  width: auto;
  margin: 2em 0.5em;
}
.mainlogo {
  height: 350px;
  width: auto;
}
.send {
  width: auto;
  height: 40px;
  cursor: pointer;
}
.send:hover {
  border-radius: 50px;
  border: 1px solid #39baf1;
}
.paragon {
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 5em 1em;
}
.button-group {
  display: inline-block;
  margin: 10px;
}

.button-group button {
  width: 200px;
  padding: 20px 10px;
  font-weight: 500;
  background-color: #39baf1;
  color: white;
  border: 1px solid #39baf1;
}

.button-group button:hover {
  border: 1px solid #39baf1;
  background-color: white;
  padding: 20px 10px;
  color: #39baf1;
}

.psypower {
  padding: 1em;
}
.psypower span {
  font-weight: 600;
  font-size: 18pt;
}
/* 
    text-align: left;
    
    text-align: start;
    background-color: rgb(206, 182, 182);
     */

.calculation {
  font-size: 18pt;
}
.calculation .row {
  margin: 0;
  padding: 0;
}
.calculation span {
  margin: 0;
  text-align: start;
}
.spacdiv {
  display: inline;
  margin-bottom: 2em;
}

@media screen and (max-width: 600px) {
  .container-fluid,
  .container {
    font-family: Kanit, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  h1 {
    margin: 1em;
  }
  p {
    font-size: 15pt;
    padding: 1em;
    text-align: justify;
  }
  .bodylogo {
    height: 60px;
    width: auto;
  }
  .logo {
    height: 160px;
    width: auto;
    margin: 2em 0.5em;
  }
  .mainlogo {
    height: 350px;
    width: auto;
  }
  .paragon {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5em 0.2em;
  }
  .button-group {
    display: inline-block;
    margin: 8px;
  }

  .button-group button {
    width: 150px;
    padding: 5px 5px;
    font-weight: 500;
    background-color: #39baf1;
    color: white;
    border: 2px solid #39baf1;
  }

  .button-group button:hover {
    border: 1px solid #39baf1;
    background-color: white;
    padding: 5px 5px;
    color: #39baf1;
  }

  .psypower {
    padding: 1em;
  }
  .psypower span {
    font-weight: 600;
    font-size: 18pt;
  }
  /* 
        text-align: left;
        
        text-align: start;
        background-color: rgb(206, 182, 182);
         */

  .calculation {
    font-size: 16pt;
  }
  .calculation .row {
    margin: 0;
    padding: 0;
  }
  .calculation span {
    margin: 0;
    text-align: center;
  }
  .spacdiv {
    display: inline;
    margin-bottom: 2em;
  }
}
